<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", my_thread_comment_path(@my_thread, comment.id) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_my_thread_comment_path %>
